body {
    background-color: #cc99ff;
    text-align: center;
}

h1 {
   color: black;
    line-height: 2rem;
    font-family: 'Oswald', sans-serif;
}

h2 {
   color: black; 
   line-height: 2rem;
    font-family: 'Raleway', sans-serif;
}

h3 {
   color: black; 
   line-height: 2rem;
    font-family: 'Merriweather', serif;
}


.container {
    background: linear-gradient(to left, #00ccff, #b3f0ff);
}

.square {
    width: 100px;
    height: auto;
    background-color: crimson;
    text-align: center;
    margin:auto;
}
#circle {
    color:darkred;
    font-size: 40px;
}
.borderImg {
    border:2px solid red;
    width: 105px;
    height: 200px
}

ul li {
    color:chocolate;
    font-size: 20px;
}

ul > li {
    color:darkgreen;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color:darkturquoise;
}

a {
    text-decoration: none;
    color:darkorange;
    letter-spacing: 18px;
    text-transform: uppercase;
}
